body
{
  color: white;
  background: #c0d3ff;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  
}
span
{
  font-size: 30px;
}
#gridX {
  display: flex;
  width: 40%;
  min-width: 800px;
}
#camera
{
  border: 2px dashed black;
  margin-left: 25px;
  width: 350px;
  height: 300px; 
  flex: 1;
}
#result
{
  border: 2px dashed black;
  margin-left: 50px;
  width: 350px;
  height: 300px; 
  flex: 1;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

#ress {
  font-size:48px;
}
